<ion-header>
  <ion-toolbar>
    <ion-title>Mis empleados</ion-title>
    <ion-buttons slot="end" padding>
      <ion-button (click)="toAddEmployee()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let e of service.getEmployees()">
    <ion-avatar slot="start">
      <ion-img [src]=""></ion-img>
    </ion-avatar>
    <ion-label>{{e.name}}</ion-label>
    <ion-icon name="pencil" (click)="toEditEmployee(e.id)">
    </ion-icon>
    <ion-icon name="blank"></ion-icon>
    <ion-icon name="trash"(click)="alertToDelete(e)">
    </ion-icon>
  </ion-item>
  <ion-content>
    <ion-grid>
      <ion-row>
      <ion-col size="6" 
        *ngFor="let photo of photoService.photos; index as i">
          <ion-img [src]=""></ion-img>
      </ion-col>
      </ion-row>
    </ion-grid>
  {{employees}}

</ion-content>
