<ion-header>
  <ion-toolbar>
    <ion-title>Mis empleados</ion-title>
    <ion-buttons slot="end" padding>
      <ion-button color="primary" (click)="toAddEmployee()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  *ngFor="let e of service.getEmployees()">
    <ion-avatar>
      <img (click)="clickOnEmployee(e.id)" [src]="getImage(e.id)" />
    </ion-avatar>
    <ion-label>
      <h2>{{e.name}}</h2>
      <h3>{{e.job}}</h3>
      <p>{{e.salary}}€</p>
    </ion-label>
    <ion-icon name="blank"></ion-icon>
    <ion-button color="secondary" (click)="toEditEmployee(e.id)">
      <ion-icon name="pencil">
      </ion-icon>
    </ion-button>
    <ion-icon name="blank"></ion-icon>
    <ion-button color="danger" (click)="alertToDelete(e)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-content>
</ion-content>
