<ion-header>
  <ion-toolbar>
    <ion-title>Añadir empleado</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="employee.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Introducir fecha de nacimiento</ion-label>
    <ion-datetime [(ngModel)]="employee.birthdate" displayFormat="DD/MM/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Puesto</ion-label>
    <ion-input [(ngModel)]="employee.job"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Salario/€</ion-label>
    <ion-input [(ngModel)]="employee.salary" type="number"></ion-input>
  </ion-item>
  <ion-button *ngIf="employee.name.length > 1" (click)="saveEmployee()" expand="block" fill="clear" shape="round">
    Agregar trabajador
  </ion-button>
</ion-content>
